nav > li > a {
    color: #fff;
    text-decoration: none;
    padding: 10px 15px;
    margin-right: 15px;
}
nav >li > a:hover {
    background-color: none;
    border-radius: 5px;
}
footer {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 10px 0;
    position: fixed;
    bottom: 0;
    width: 100%;
}